.container{
  width: 100%;
  min-height: 100vh;
  /* background-color: #E6E6FA; */
}
.content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border: 1px solid red;
  background-color: black;
}